[*.cs]

# CA3147: Mark Verb Handlers With Validate Antiforgery Token
dotnet_diagnostic.CA3147.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:silent

# CA1825: Avoid zero-length array allocations.
dotnet_diagnostic.CA1825.severity = silent

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = silent
