@{
    ViewBag.Title = "About author";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lička 2a<br />
    Osijek, 31000<br />
    <abbr title="Mobile"></abbr>
    +385 99 473 1468
</address>

<address>
    <strong>Email:</strong>   <a href="ivan1501@gmail.com">ivan1501@gmail.com</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/ivanradunkovic">https://github.com/ivanradunkovic</a>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ivan-radunković-a2a836141/">https://www.linkedin.com/in/ivan-radunković-a2a836141/</a></p>
</address>