@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vehicle</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Vehicle Application</h2>
        <p>
            Vehicle Application is a simple application written
            in C#, using Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
</div>