@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Demo confirm e-mail api.
</p>
<p class="text-danger">
    For Demo only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
</p>
